/*鼠标样式*/
body {
    cursor: auto;
}

.custom-cursor {
    cursor: url(../cur/normal.png), auto;
}

.custom-pointer {
    cursor: url(../cur/link.png), auto;
}

.custom-text {
    cursor: url(../cur/text.png), auto;
}