body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.menu {
    width: 29%;
    height: 100%;
}

.main {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    width: 29%;
    height: 100%;
}

.puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.shuffleButton {
    margin-top: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.tile {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}


/* 旋转动画 */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-animation {
    animation: spin 0.3s linear;
}

#timer {
    font-size: 64px;
    font-weight: bold;
    display: block;
    margin-top: 40%;
    margin-left: 5%;
}

#step {
    font-size: 64px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
    margin-left: 5%;
}

#tps {
    font-size: 64px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
    margin-left: 5%;
}

.switch-data {
    width: 70px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 50px;
    margin-left: 5%;
}

.switch-data:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

.score-list {
    width: 70px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 50px;
    margin-left: 5%;
}

.score-list:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

.about {
    width: 70px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 50px;
    margin-left: 5%;
}

.about:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

#level {
    font-size: 80px;
    font-weight: bold;
    display: block;
    margin-top: 40%;
    margin-left: 40%;
}

.move-mode {
    width: 160px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 26px;
    margin-left: 40%;
    font-size: 24px;
    text-align: center;
    color: rgb(75, 75, 75);
}

.play-mode {
    width: 160px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 26px;
    margin-left: 40%;
    font-size: 24px;
    text-align: center;
    color: rgb(75, 75, 75);
}

.level-up {
    width: 70px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 26px;
    margin-left: 40%;
}

.level-down {
    width: 70px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 26px;
    margin-left: 40%;
}

.move-mode:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

.play-mode:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

.level-up:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

.level-down:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}