body {
    background-image: url(../image/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #103816;
}

.container {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

/* .menu {
    width: 30%;
    height: 10%;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(8px);
} */

.title-button {
    width: 36vw;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;

    color: white;
    font-size: 480%;
    font-weight: bold;
    font-family: 'Arial';
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.title-button::after {
    content: attr(data-text);
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    line-height: 100%;
    font-weight: bold;
    font-family: 'Arial';
}

.title-button span {
    transition: all 0.3s;
}

.title-button:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.title-button:hover span {
    opacity: 0;
}

.title-button.hidden {
    display: none;
}