body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.menu {
    width: 29%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-container {
    height: auto;
    width: 100%;
}

.main {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data {
    width: 29%;
    height: 100%;
    display: flex;
    align-items: center;
}

.data-container {
    height: auto;
    width: 100%;
}

.foot-info {
    display: flex;
    margin-top: 2vw;
    width: auto;
    height: auto;
    font-size: 90%;
    color: #636363ba;
}

.foot-info a {
    color: #636363ba;
    font-weight: bold;
    text-decoration: none;
}

.puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vw;
}

.puzzle {
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0vw;
    margin-bottom: 1.2vw;
}

.shuffleButton {
    margin-top: 2vw;
    width: 2.5vw;
    height: 2.5vw;
}

.tile {
    width: 6vw;
    height: 6vw;
    background-color: #ffffff00;
    color: white;
    font-weight: bold;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: box-shadow 0.5s ease-in-out;
}


/* 旋转动画 */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-animation {
    animation: spin 0.3s linear;
}

#timer {
    font-size: 3.8vw;
    line-height: 4vw;
    font-weight: bold;
    display: block;
    margin-left: 5%;
}

#step {
    font-size: 3.8vw;
    line-height: 4vw;
    font-weight: bold;
    display: block;
    margin-top: 1.8vw;
    margin-left: 5%;
}

#tps {
    font-size: 3.8vw;
    line-height: 4vw;
    font-weight: bold;
    display: block;
    margin-top: 1.8vw;
    margin-left: 5%;
    margin-bottom: 0.6vw;
}

.menu-button-float {
    width: 3.8vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1.2vw;
    margin-left: 5%;
    position: relative;
    float: left;
}

.menu-button-float::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    font-size: 130%;
}

.menu-button-float span {
    transition: all 0.3s;
}

.menu-button-float:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.menu-button-float:hover span {
    opacity: 0;
}

.menu-button-float.hidden {
    display: none;
}

.group {
    width: 8.7vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1.2vw;
    margin-left: 5%;
    font-size: 250%;
    line-height: 160%;
    font-weight: bold;
    text-align: center;
    color: #8a8a8a;
}

.group.hidden {
    display: none;
}

.group #group-number {
    height: 100%;
    width: 48%;
    float: left;
}

.group #group-last,
.group #group-next {
    height: 100%;
    width: 26%;
    float: left;
    border-radius: 8px;
    padding-top: 2%;
}

.group #group-last:hover,
.group #group-next:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
}


.menu-button-flex {
    width: 4vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1.2vw;
    margin-left: 50%;
    position: relative;
}

.menu-button-flex::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    font-size: 130%;
}

.menu-button-flex span {
    transition: all 0.3s;
}

.menu-button-flex:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.menu-button-flex:hover span {
    opacity: 0;
}

.menu-button-flex.hidden {
    display: none;
}

#level {
    font-size: 5vw;
    line-height: 5vw;
    font-weight: bold;
    display: block;
    margin-left: 50%;
    color: #482b16;
}

#level.hidden {
    display: none;
}

.move-mode {
    width: 9.6vw;
    height: 3.7vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1.6vw;
    margin-left: 50%;
    font-size: 170%;
    text-align: center;
    color: rgb(94, 94, 94);
}

.move-mode.hidden {
    display: none;
}

.move-mode:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

.game-mode {
    width: 9.6vw;
    height: 3.7vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1.6vw;
    margin-left: 50%;
    font-size: 170%;
    text-align: center;
    color: rgb(94, 94, 94);
}

.game-mode.hidden {
    display: none;
}

.game-mode:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

#config-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#config-overlay-content {
    width: 50vw;
    height: 25vw;
    background: white;
    padding: 2.4% 3% 2.4% 3%;
    border-radius: 8px;
    text-align: center;
    transform: translateX(40%);
    transition: transform 0.2s ease;
}

#config-overlay.visible {
    opacity: 1;
    visibility: visible;
}

#config-overlay.visible #config-overlay-content {
    transform: translateX(0);
}

.config-overlay-menu {
    padding: 1% 0% 1% 0.4%;
    display: flex;
    flex-direction: column;
}

.config-overlay-menu-button {
    width: 4.4vw;
    height: 4vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1vw;
    margin-left: 1vw;
    position: relative;
}

.config-overlay-menu-button::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    font-size: 130%;
}

.config-overlay-menu-button span {
    transition: all 0.3s;
}

.config-overlay-menu-button:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.config-overlay-menu-button:hover span {
    opacity: 0;
}

.config-overlay-menu-button.hidden {
    display: none;
}

.preview-puzzle-container {
    display: flex;
    align-items: center;
    float: left;
}

.preview-puzzle {
    width: 25vw;
    height: 25vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}

.color-menu {
    width: 8vw;
    height: 100%;
    float: left;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    /* background-color: #ff808033; */
}

.color-menu-item {
    width: 100%;
    height: 1vw;
    margin-top: 0.35vw;
}

.color-input {
    font-size: 90%;
    width: 6vw;
    height: 1vw;
    border-radius: 6px;
    border: #e1e1e1 1px solid;
}

.size-menu {
    width: 11vw;
    height: 100%;
    float: left;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    /* background-color: #00ff1a2d; */
}

.size-menu-item {
    width: 100%;
    height: 24%;
    padding-top: 6%;
    background-color: #f6f6f6;
    border-radius: 6px;
    margin-top: 10%;
}

.size-menu-item:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
}

.size-tip {
    text-align: center;
    font-size: 100%;
    line-height: 150%;
    color: #727272;
}

.size-info {
    text-align: center;
    font-size: 140%;
    line-height: 240%;
    font-weight: bold;
    color: #000000;
}

.size-input {
    width: 80%;
    height: 0.4vw;
}

.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.confirm-overlay.hidden {
    display: none;
}

#confirm-overlay-content {
    width: 18vw;
    height: 8vw;
    background: white;
    padding: 2.4% 2% 1% 2%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#confirm-info {
    width: 18vw;
    height: 2vw;
    text-align: center;
    font-size: 160%;
    line-height: 2vw;
    font-weight: bold;
    /* border: #141845 1px solid; */
}

.confirm-menu {
    width: 18vw;
    height: 3.2vw;
    margin-top: 14%;
    /* border: #141845 1px solid; */
}

.confirm-overlay-confirm-button {
    width: 6vw;
    height: 3vw;
    cursor: pointer;
    float: left;
    margin-left: 8%;
    /* background-color: #ffdddd; */
    border-radius: 8px;
    /* border: #ce4242 1px solid; */
    text-align: center;
    line-height: 3vw;
    font-size: 130%;
    font-weight: bold;
    color: #ce4242;
}

.confirm-overlay-confirm-button:hover {
    background-color: #fff0f0;
    transition: 0.3s;
}

.confirm-overlay-cancel-button {
    width: 6vw;
    height: 3vw;
    cursor: pointer;
    float: left;
    margin-left: 18%;
    /* background-color: #ddffdd; */
    border-radius: 8px;
    /* border: #3ec13e 1px solid; */
    text-align: center;
    line-height: 3vw;
    font-size: 130%;
    font-weight: bold;
    color: #3ec13e;
}

.confirm-overlay-cancel-button:hover {
    background-color: #ecffec;
    transition: 0.3s;
}