body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.menu {
    width: 29%;
    height: 100%;
}

.main {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    width: 29%;
    height: 100%;
}

.puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.puzzle {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.shuffleButton {
    margin-top: 40px;
    width: 40px;
    height: 40px;
}

.tile {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* box-shadow: 0 0 20px #ffff0046; */
}


/* 旋转动画 */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin-animation {
    animation: spin 0.3s linear;
}

#timer {
    font-size: 64px;
    font-weight: bold;
    display: block;
    margin-top: 40%;
    margin-left: 5%;
}

#step {
    font-size: 64px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
    margin-left: 5%;
}

#tps {
    font-size: 64px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
    margin-left: 5%;
    margin-bottom: 10px;
}

.menu-button-float {
    width: 70px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
    margin-left: 5%;
    position: relative;
    float: left;
}

.menu-button-float::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    /* 提示文字颜色 */
    font-size: 20px;
}

.menu-button-float span {
    transition: all 0.3s;
}

.menu-button-float:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.menu-button-float:hover span {
    opacity: 0;
}

.menu-button-float.hidden {
    display: none;
}

.group {
    width: 140px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
    margin-left: 5%;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #8a8a8a;
}

.group.hidden {
    display: none;
}

.group #group-number {
    height: 100%;
    width: 48%;
    float: left;
    line-height: 60px;
}

.group #group-last,
.group #group-next {
    height: 100%;
    width: 26%;
    float: left;
    border-radius: 8px;
    padding-top: 13px;
}

.group #group-last:hover,
.group #group-next:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
}


.menu-button-flex {
    width: 70px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 20px;
    margin-left: 50%;
    position: relative;
}

.menu-button-flex::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    /* 提示文字颜色 */
    font-size: 20px;
}

.menu-button-flex span {
    transition: all 0.3s;
}

.menu-button-flex:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.menu-button-flex:hover span {
    opacity: 0;
}

.menu-button-flex.hidden {
    display: none;
}

#level {
    font-size: 80px;
    font-weight: bold;
    display: block;
    margin-top: 40%;
    margin-left: 50%;
    color: #482b16;
}

#level.hidden {
    display: none;
}

.move-mode {
    width: 160px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 26px;
    margin-left: 50%;
    font-size: 24px;
    text-align: center;
    color: rgb(94, 94, 94);
}

.move-mode.hidden {
    display: none;
}

.move-mode:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

.game-mode {
    width: 160px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 26px;
    margin-left: 50%;
    font-size: 24px;
    text-align: center;
    color: rgb(94, 94, 94);
}

.game-mode.hidden {
    display: none;
}

.game-mode:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

#config-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#config-overlay-content {
    width: 700px;
    height: 420px;
    background: white;
    padding: 50px 60px 60px 60px;
    border-radius: 8px;
    text-align: center;
    transform: translateX(40%);
    transition: transform 0.2s ease;
}

#config-overlay.visible {
    opacity: 1;
    visibility: visible;
}

#config-overlay.visible #config-overlay-content {
    transform: translateX(0);
}

.config-overlay-menu {
    padding: 30px 0px 50px 0px;
    display: flex;
    flex-direction: column;
}

.config-overlay-menu-button {
    width: 80px;
    height: 70px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.overlay-114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.137);
    color: #6d6d6d;
    font-size: 24px;
    font-weight: bold;
}

.config-overlay-menu-button:hover {
    background-color: rgb(247, 247, 247);
    transition: 0.3s;
}

.preview-puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}

.preview-puzzle {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}