body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

.main {
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-container {
    width: 100%;
    height: auto;
}

.puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.puzzle {
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0vw;
}

.tile {
    width: 6vw;
    height: 6vw;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: box-shadow 0.5s ease-in-out;
}

.main-info {
    width: 100%;
    height: 12vw;
    margin-top: 4vw;
    /* background-color: #ffbdbd; */
}

.replay-menu {
    width: 100%;
    height: 17vw;
    margin-top: 2vw;
    /* background-color: #d6ffd9; */
}

#timer {
    font-size: 400%;
    line-height: 120%;
    font-weight: bold;
    display: block;
    margin-top: 1.8vw;
}

#step {
    font-size: 400%;
    line-height: 120%;
    font-weight: bold;
    display: block;
    margin-top: 1.8vw;
}


.play-pause {
    width: 3.8vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1.2vw;
    margin-right: 1.2vw;
    position: relative;
    font-size: 220%;
    line-height: 100%;
    font-weight: bold;
    text-align: center;
    color: #8a8a8a;
}

.play-pause:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
}

.menu-button-float {
    width: 3.8vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1.2vw;
    margin-right: 1.2vw;
    position: relative;
    float: left;
}

.menu-button-float::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    font-size: 130%;
}

.menu-button-float span {
    transition: all 0.3s;
}

.menu-button-float:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.menu-button-float:hover span {
    opacity: 0;
}

.menu-button-float.hidden {
    display: none;
}

.progress-bar {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2vw;
    width: 21vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.progress-bar input {
    width: 90%;
    height: 3.6vw;
}

.playback-speed {
    width: 12vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    margin-top: 1.2vw;
    margin-right: 1.2vw;
    font-weight: bold;
    text-align: center;
    color: #8a8a8a;
}

.playback-speed #playback-speed-info {
    height: 100%;
    width: 48%;
    float: left;
    font-size: 250%;
    line-height: 160%;
}

.playback-speed #speed-down,
.playback-speed #speed-up {
    height: 100%;
    width: 26%;
    float: left;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.playback-speed #speed-down img,
.playback-speed #speed-up img {
    margin: 0 auto;
}

.playback-speed #speed-down:hover,
.playback-speed #speed-up:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
}