body {
    background-color: #e6e9f1;
}

.menu {
    padding: 20px 10% 20px 10%;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.group {
    width: 70px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #8a8a8a;
}

.group:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

.menu-button-float {
    width: 70px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
    position: relative;
    float: left;
}

.menu-button-float::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    /* 提示文字颜色 */
    font-size: 20px;
}

.menu-button-float span {
    transition: all 0.3s;
}

.menu-button-float:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.menu-button-float:hover span {
    opacity: 0;
}

.menu-button-float.hidden {
    display: none;
}

.menu-big-button {
    width: 110px;
    float: right;
    margin-right: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
    background-color: lightgray;
}

th,
td {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

th {
    background-color: #121212;
    font-weight: bold;
    color: white;
}

th:hover {
    background-color: #353535;
    transition: 0.3s;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ededed;
}

tr:nth-child(even):hover {
    background-color: #e5e5e5;
    transition: 0.3s;
    cursor: pointer;
}

tr:nth-child(odd):hover {
    background-color: #e1e1e1;
    transition: 0.3s;
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#overlay.hidden {
    display: none;
}

#overlay-content {
    background: white;
    padding: 50px 60px 50px 60px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.137);
    text-align: center;
}

.overlay-info-menu {
    padding: 30px 0px 50px 0px;
    display: flex;
    flex-direction: column;
}

.overlay-menu-button {
    width: 80px;
    height: 70px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.overlay-114);
    border-radius: 8px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.137);
    color: #6d6d6d;
    font-size: 24px;
    font-weight: bold;
}

.overlay-menu-button:hover {
    background-color: rgb(247, 247, 247);
    transition: 0.3s;
}

#info-container {
    width: 240px;
    height: 300px;
    float: left;
    margin-left: 40px;
    padding-left: 20px;
    text-align: left;
}

#scramble-text {
    font-size: 24px;
}

.puzzle-container {
    float: left;
    align-items: center;
}

.puzzle {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.tile {
    width: 90px;
    height: 90px;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.time-info {
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.move-mode-info {
    color: rgb(127, 166, 183);
    font-size: 24px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.other-info {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ao-info {
    color: rgb(97, 97, 97);
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}