body {
    background-color: #e6e9f1;
}

.menu {
    padding: 1% 10% 1% 10%;
    height: 4.3vw;
}

.chart-container {
    width: 76%;
    height: 28vw;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5% 1% 1% 1%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0ede9;
}

.chart-container.hidden {
    display: none;
}

.chart {
    width: 100%;
    height: 18vw;
}

.chart-info {
    width: 100%;
    height: 6.2vw;
}

.chart-info-item {
    width: 10%;
    height: 2.7vw;
    margin-left: 6%;
    margin-top: 0.1vw;
    float: left;
    line-height: 270%;
    /* border: #141845 1px solid; */
}

.info-tag {
    text-align: left;
    font-size: 120%;
    color: rgb(46, 46, 46);
}

.info-data {
    text-align: left;
    font-size: 120%;
    font-weight: bold;
    color: black;
}

.main {
    flex-grow: 1;
    padding: 1%;
}

.group {
    width: 8.7vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    float: left;
    cursor: pointer;
    user-select: none;
    margin-left: 1.2vw;
    font-weight: bold;
    text-align: center;
    color: #8a8a8a;
    font-size: 250%;
    line-height: 160%;
}

.group.hidden {
    display: none;
}

.group #group-number {
    height: 100%;
    width: 48%;
    float: left;
}

.group #group-last,
.group #group-next {
    height: 100%;
    width: 26%;
    float: left;
    border-radius: 8px;
}

.group #group-last:hover,
.group #group-next:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
}

.menu-button-float {
    width: 3.8vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-left: 1.2vw;
    position: relative;
    float: left;
}

.menu-button-float::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    font-size: 130%;
}

.menu-button-float span {
    transition: all 0.3s;
}

.menu-button-float:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.menu-button-float:hover span {
    opacity: 0;
}

.menu-button-float.hidden {
    display: none;
}

.menu-big-button-float {
    width: 8vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    float: right;
    margin-right: 1.2vw;
}

.menu-big-button-float::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    font-size: 130%;
}

.menu-big-button-float span {
    transition: all 0.3s;
}

.menu-big-button-float:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.menu-big-button-float:hover span {
    opacity: 0;
}

.menu-big-button-float.hidden {
    display: none;
}

table {
    width: 80%;
    margin: 1.2vw auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
    background-color: lightgray;
}

th,
td {
    padding: 1.25vw;
    font-size: 140%;
    line-height: 140%;
    text-align: center;
}

th {
    background-color: #141845;
    font-weight: bold;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #ededed;
}

tr:nth-child(even):hover {
    background-color: #e5e5e5;
    transition: 0.3s;
    cursor: pointer;
}

tr:nth-child(odd):hover {
    background-color: #e1e1e1;
    transition: 0.3s;
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#overlay-content {
    height: 19vw;
    width: 48vw;
    background: white;
    padding: 3% 3% 3% 3.2%;
    border-radius: 8px;
    text-align: center;
    transform: translateY(40%);
    transition: transform 0.2s ease;
}

#overlay.visible {
    opacity: 1;
    visibility: visible;
}

#overlay.visible #overlay-content {
    transform: translateY(0);
}

.overlay-info-menu {
    padding: 1% 0% 1.4% 0%;
    display: flex;
    flex-direction: column;
}

.overlay-menu-button {
    width: 5vw;
    height: 4.3vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-top: 24%;
    margin-left: 20%;
    position: relative;
}

.overlay-menu-button::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
    opacity: 0;
    transform: translate(30%, 0);
    transition: all 0.3s;
    color: #808080;
    font-size: 130%;
}

.overlay-menu-button span {
    transition: all 0.3s;
}

.overlay-menu-button:hover::after {
    opacity: 1;
    transform: translate(0, 0);
}

.overlay-menu-button:hover span {
    opacity: 0;
}

.overlay-menu-button.hidden {
    display: none;
}

#info-container {
    width: 27vw;
    height: 18vw;
    float: left;
    margin-left: 6%;
    text-align: left;
    /* background-color: #ffeaea; */
}

.time-info {
    font-size: 400%;
    line-height: 100%;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3%;
}

.info-item {
    width: 5.6vw;
    height: 1.6vw;
    float: left;
    margin-top: 4.4%;
    margin-right: 0.8vw;
    /* border: #000000 1px solid; */
}

.info-item-tag {
    text-align: left;
    font-size: 130%;
    line-height: 100%;
    color: rgb(46, 46, 46);
}

.info-item-data {
    text-align: left;
    font-size: 130%;
    line-height: 100%;
    font-weight: bold;
    color: black;
}

#scramble-text {
    font-size: 150%;
}

.puzzle-container {
    float: left;
    align-items: center;
}

.puzzle {
    width: 18vw;
    height: 18vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-bottom: 0.4vw;
}

.tile {
    width: 6vw;
    height: 6vw;
    background-color: #f0f0f0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.game-mode {
    width: 10vw;
    height: 3.6vw;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.114);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-right: 1.2vw;
    position: relative;
    float: right;
    font-size: 160%;
    line-height: 160%;
    text-align: center;
    color: rgb(94, 94, 94);
}

.game-mode.hidden {
    display: none;
}

.game-mode:hover {
    background-color: rgb(244, 244, 244);
    transition: 0.3s;
}

.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.confirm-overlay.hidden {
    display: none;
}

#confirm-overlay-content {
    width: 18vw;
    height: 8vw;
    background: white;
    padding: 2.4% 2% 1% 2%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#confirm-info {
    width: 18vw;
    height: 2vw;
    text-align: center;
    font-size: 160%;
    line-height: 2vw;
    font-weight: bold;
    /* border: #141845 1px solid; */
}

.confirm-menu {
    width: 18vw;
    height: 3.2vw;
    margin-top: 14%;
    /* border: #141845 1px solid; */
}

#confirm-overlay-confirm-button {
    width: 6vw;
    height: 3vw;
    float: left;
    margin-left: 8%;
    /* background-color: #ffdddd; */
    border-radius: 8px;
    /* border: #ce4242 1px solid; */
    text-align: center;
    line-height: 3vw;
    font-size: 130%;
    font-weight: bold;
    color: #ce4242;
    cursor: pointer;
}

#confirm-overlay-confirm-button:hover {
    background-color: #fff0f0;
    transition: 0.3s;
}

#confirm-overlay-cancel-button {
    width: 6vw;
    height: 3vw;
    float: left;
    margin-left: 18%;
    /* background-color: #ddffdd; */
    border-radius: 8px;
    /* border: #3ec13e 1px solid; */
    text-align: center;
    line-height: 3vw;
    font-size: 130%;
    font-weight: bold;
    color: #3ec13e;
    cursor: pointer;
}

#confirm-overlay-cancel-button:hover {
    background-color: #ecffec;
    transition: 0.3s;
}